/* make the body fill the window */

html, body, .app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* make any canvas fill its container */
canvas {
  width: 100%;
  height: 100%;
}

.draghint {
  box-sizing: border-box;
  border-width: 10px;
  border-style: dashed;
  border-color: #ccc;
  margin-right: 10px;
  display: table;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.hover {
  border-color: #333;
}

.dragtext {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #999;
  font-family: 'Lora', serif;
}
