html, body, canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
}
.draghint {
  display: table;
  box-sizing: border-box;
  border-width: 10px;
  border-style: dashed;
  background-color: white;
  border-color: #ccc;
}
.screen {
  width: 100%;
  height: 100%;
}
.dragtext {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #999;
}
.menu {
  margin: 2em;
}
.hidden {
  display: none;
}
.hover {
  border-color: #333;
}
.chooser {
  position: fixed;
  top: -1000px;
}
.message {
  text-align: center;
}
.message h1, .message p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.overlay {
  opacity: .5;
}
